*{
    background-color: #323333;
}

.navbar{
    display:flex;
    background-color: #323333;
    justify-content: space-around;
}
.navbar ul{
    display:flex;
    list-style:none;
    gap: 0px 20px;
    color: white;
}
.navbar>ul>li{

    border-radius: 10px;
    box-shadow: 0px 0px 2px gray;
    padding: 8px;
    cursor: pointer;
}
.navbar>h1
{
    color:white;
}

main
{   
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.tagline
{
    color:#C0C0C0;
    max-width: 500px;
}
